page-home {

}

.left {
  min-width: 100px;
  width: 100px;
  max-width: 100px;
}

.right {
  min-width: 100px;
  width: 100px;
  max-width: 100px;
}

.result {
  min-width: 100px;
  min-height: 100px;
}